@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.App {
  text-align: center;
}

.header-type {
  padding-left: 25px;
  padding-top: 25px;
}

.btn-contact-container {
  display: flex;
  justify-content: space-between;
  min-width: 900px;
}

.contact-icon {
  border-radius: 100%;
  background-color: white;
  border: 0.1px solid white;
  width: 25px !important;
}

.btn-contact-container button {
  background-color: rgb(253, 201, 9);
  height: 40px;
  border-radius: 25px;
}

.header-type h1 {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  color: rgb(253, 201, 9);
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.header-type p {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.header-type-container {
  background-color: rgb(56, 57, 57);
}

.btn-Type {
  padding: 5px;
}

.center {
  margin: 10% auto;
}

.title-customized {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.p-space {
  margin-top: 1.5em;
}

.btn-logo {
  border: 0.1px solid gray;
  border-radius: 8px;
  min-width: 100%;
  height: 137px;
  background-color: rgb(56, 57, 57);
}

.btn-logo:hover {
  background-color: rgb(255, 255, 255);
}

.icon {
  color: rgb(253, 201, 9);
  font-size: 40px;
}

.btn-container {
  min-height: 180px;
  background-color: rgb(56, 57, 57);
}

.btn-div {
  margin: 25% auto;
}

.btn-logo:hover .icon {
  color: black !important;
}

.color-gray {
  background-color: rgb(42, 42, 42);
}

.section {
  background-color: rgb(255, 255, 255);
}

.btn-link {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.btn-logo:hover .btn-link {
  color: black;
  text-decoration: underline;
  text-decoration-color: rgb(253, 201, 9);
}

.p-caps {
  text-transform: capitalize;
}
